*{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    /* color: white; */
    /* box-sizing: border-box; */
    /* font-size: 1rem;
    line-height: 1.5; */
}

html{
height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

:root{
    --pozadina: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
}

body
{
    background-color: var(--pozadina);
}

header{
    display: flex;
    background-color: #35424a;
    height: 4em;
    max-height: 4em;
    max-width:100%;
    align-items: center;
    justify-content: space-between;

    padding: 0 5em 0 5em;
    border-bottom: #e8491d 3px solid;
}

.algebra_logo{
    max-height: 4em;
    max-width:10em;
    margin-bottom: 1.5em;
}

nav{
    color: white;
}

nav > ul{
    list-style-type: none;
}

.naranca{
    text-decoration: none;
    padding: 0.5em;
    color: white;
}
.naranca:hover{
    color: #e8491d;
}

.orange{
    color: #e8491d;
}

/* .first-section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-image: url("images/joshua-woroniecki-lzh3hPtJz9c-unsplash.jpg");
    background-position: center;
    height: 35em;
    max-height: 35em;
    background-size: cover;
} */

#showcase{
    min-height: 35em;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("images/joshua-woroniecki-lzh3hPtJz9c-unsplash.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h1{
    font-size: 5em;
    margin-bottom: 0em;
    margin-top: 0;
}

section p{
    font-size: 1.2em;
}

#newsletter{
    background-color: #35424a;
}

#newsletter .container{
    display:flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.btn1{
    background-color: #e8491d;
    border: 0;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
}

#newsletter input[type="email"]{
    outline: none;
    width: 15rem;
}

input[type="email"]::placeholder{
    color: black;
}

#tehnologije{
    display: flex;
    flex-direction: row;
}

#tehnologije .kutije{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kutije{
    flex: 0 0 33%;
    padding: 0em 1em 0em 1em;
    text-align: center;
}

footer{
    /* min-height: 5em; */
    max-height: 5em;
    padding: 2rem;
    text-align: center;
    background-color: #e8491d;
    text-align: center;
    color: white;
    margin-top: auto;
}


/* --------------------------------------------------------- */

.obama{
    height: 100%;
    overflow: hidden;
}

.obama .container{
    display: flex;
    flex-direction: row;
}

.obama > .container >.text{
    flex: 0 0 70%;
}

.obama aside{
    display: inline-flex;
    background-color: #35424a;
    flex: 0 0 30%;
    height: 22em;
    justify-content: center;
    align-items: center;
    color: white;
    /* text-align: center; */
    padding: 1em 1em 1em 1em;
    margin-top: 2.3em;
}

/* -------------------------------------------------------------- */


.obama > .container >.text > ul{
    list-style-type: none;
}

.obama > .container >.text > ul >li{
    background-color: #e6e6e6;
    border: 1px solid darkgrey;
    margin: 1em;
}

aside input,
aside textarea{
    width: 90%;
    padding: 0.3rem;
    margin: 0.4rem;
}

#kontakt_aside{
    padding: 5em 1em 5em 1em;
}

@media (max-width: 768px) {
    header .container,
    #newsletter .container,
    #boxes .container,
    #main .container{
        flex-direction: column;
    }
    #newsletter .container{
        text-align: center;
    }

    #newsletter input [type="email"]
    {
        width:9rem;
    }
}